* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  color: #FFF;
}

.timeline-container {
  position: relative;
  width: 90%;
  margin: auto;
  z-index: 0;
}

.line {
  position: absolute;
  top: 50%;
  left: 0;
  height: 1px;
  width: 100%;
  color: #FFF !important;
  /*background-color: #FFF !important;*/
  opacity: 0.5;
  z-index: 1;  
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  /*z-index: 1;*/
}

.timeline-img {
  display: flex;
  align-items: center;
  height: 150px;
  box-sizing: border-box;
  z-index: 2;
}

.timeline-img img {
  display: inline-block;
  padding: 20px;
  width: 100px;
  height: 100px;
  transition: height 0.3s, width 0.3s;
  border: 2px solid #FFF;
}


.img-container img:hover {
  width: 150px;
  height: 150px;
}
