p {
  color: #FFF;
}

.line {
  height: 1px;
  width: 90%;
  background-color: #FFF;
  opacity: 0.5;
  z-index: -1;  
}

.timeline {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 15px;
}

.timeline-img {
  display: flex;
  align-items: center;
  height: 150px;
  box-sizing: border-box;
}

.timeline-img img {
  display: inline-block;
  padding: 20px;
  width: 100px;
  height: 100px;
  transition: height 0.3s;
  transition: width 0.3s;
  border: 2px solid #FFF;
}


.timeline img:hover {
  width: 150px;
  height: 150px;
}
