p,
h2,
h3,
h4{
  color: #FFF
}

ul,
li {
  color: #FFF
}

.experience-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.xp {
  display: inline-block;
  color: #FFF
  
}
