img {
  padding: 0;
  border: 5px solid #FFF;
}

img:hover {
  transform: rotate(360deg);
  transition: transform 0.5s ease;
}

.buttons {
  display: flex;
}

.buttons a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 15px;
  color: #FFF;
  border: 3px solid #FFF;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s;
  width: 175px;
  height: 50px;
  font-size: 22px;
  font-weight: bold;
  white-space: nowrap;
}

.buttons a:hover {
  background-color: #9F5927;
}