head {
  background-color: #8B4513;
}

body {
  background-color: #8B4513;
}

nav {
    text-align: center;
    background-color: #8B4513;
    padding: 20px; 
}

nav a {
    display: inline-block;
    padding: 15px;
    margin: 15px;
    color: #FFF;
    text-decoration: none;
}
h1 {
  color: #FFF;
}
