* {
  background-color: #8B4513
}

head {
  
}

body {
}

nav {
    text-align: center;
    padding: 20px; 
}

nav a {
    display: inline-block;
    padding: 15px;
    margin: 15px;
    color: #FFF;
    border: 3px solid #FFF;
    text-decoration: none;
    transition: background-color 0.3s;
}

nav a:hover {
  background-color: #9F5927;
}

h1 {
  color: #FFF;
  text-align: center;
}

h3 {
  color: #FFF;
  text-align: center;
}

iframe {
  align: center;
}
